body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover; 
}
.arkaplan{
    background-image: url('/img/resim1.jpg' );
    width: 200rem;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    justify-content: start;
  background-attachment: fixed;
  background-position: center; 

}

ul li{
    list-style: none;
    display: inline-block;
    
}


/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1px;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 3rem;
  
}
.logo{
   margin-left: -40rem;
    background-image: url('img/logo.png');
    background-size: 221px 33px;
    position: absolute;
    width: 221px;
    height: 33px;
    margin-top: -40rem;
    display: inline-block;
    
}
nav{
    margin-top: -10rem;
}
/* h2{
    font-family: inherit;
    line-height: 1.1;
    color: #444;
    font-size: 32px;
} */
.boxbir{
    margin: auto;
    
}

.text{
    width: 250px !important;
    
    
}
li .text{
    font-size: 15px;
    color: #666;
    width: 240px;
    width: fit-content;
    margin-left: 5rem;
  
    
}
li{
 list-style: none; 
 
}
.icon{
    padding-left: 5rem;
}
#sectionMobile .phone{
    background: no-repeat;
    position: absolute;
    top: -4rem;
    left: 130px;
    width: 750px;
    height: 665px;
    background-size: 100% auto;
    
}
#sectionMobile{
    background: #EBEDEF;
    height: 600px;
    position: relative;
}
#h1Top {
    font-size: 58px;
    font-weight: 600;
    line-height: 65px;
    
}
#h2Top{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}
h1{
    margin-top: -30rem;
  
}
h2{
    margin-top: 10rem;
    
    
}
.divSlogan{
    color: #fff;
    flex: 1 0;
    -webkit-flex: 1 0;
    padding-bottom: 80px;
    padding-top: 30px;
    text-align: center;
    font-family: "Source Sans Pro";
    -webkit-font-smoothing: antialiased;
}
#divTopRight {
    right: 3rem;
    top: 40px;
    position: absolute;
    color: #fff;
    display: inline-flex;

}
body {
    font-family: "Source Sans Pro";
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    min-width: 1030px;
}
#footer{
    background: #3D3D50;
    height: 400px;
}
.footerlogo{
    background: url(img/footer-logo@2x.png);
    background-size: 154px 23px;
    width: 154px;
    height: 23px;
    margin-bottom: -2rem;
    
}
#footertop{
    padding: 50px 0 30px 0;
    border-bottom: 1px solid #ffffff;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.btn {
    height: 50px;
    width: 50px;
    padding: 0;
    font-size: 26px;
    color: #C7C7D3;
    border-color: #C7C7D3;
    border-radius: 30px;
    border: 2px solid #fff;
}
.footerindir{
    display: flex;
    justify-content: right;
    
}
.footerindir .btn{
margin-left: 5px;

}
#divBlogLink a{
    color: white;
    margin-right: 0.5rem;
}
#divTopRight .language .language-selection a{
    color: white;
    margin-right: 0.5rem;
}   
a{
    text-decoration: none;
}
.seperator{
    margin-right: 0.5rem;
}
#divSlogan .download-buttons {
    margin-top: 40px;
}
.download-buttons .btn i {
    font-size: 34px;
    float: left;
    margin-left: -180px;
    margin-top: -35px;
    width: 30px;
    height: 30px;
}
.btn-trans {
    border-radius: 30px;
    padding: 5px 20px;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    outline: none;
    font-weight: 600;
    outline: none;
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
}
.download-buttons .btn {
    font-size: 15px;
    text-align: left;
    padding: 50px 40px 10px 200px;
    margin-right: 10px;
    font-weight: 600;
    
}

.download-buttons .btn .big {
    font-size: 18px;
    display: block;
    margin-top: -45px;
    margin-left: -100px;
}